@charset "utf-8";

body{
    padding:0%;
    margin-top:3%;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 5%;
    padding-right: 5%;
    border-left:solid 1px #ccc;
    border-right:solid 1px #ccc;
    user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkit-user-drag:none;
    -khtml-user-drag:none;
}
h1{
    font-size:250%;
    font-family:sans-serif;
    border-bottom:solid 1px #808080;
}
h2{
    font-size:200%;
    font-family:sans-serif;
    padding:0%;
}
h3{
    font-size:150%;
    font-family:sans-serif;
    padding:0%;
}
p{
    font-size:80%;
    font-family:sans-serif;
    padding:0%;
}
div{
    padding:0%;
    margin-top:2%;
    margin-bottom:5%;
    font-size:180%;
}
input[type=checkbox]{
    transform:scale(1.7);
    margin:0 1% 0 0;
    padding:0%;
    font-size:90%;
}
input[type=radio]{
    transform:scale(1.7);
    margin: 0 1% 0 0;
    padding:0%;
    font-size:90%;
}
buttom[type=submit]{
    width: 30%;
    padding: 1%;
    box-sizing: border-box;
}
